# Módulo 4 - Python / Análise exploratória e tratamento de dados

Antes de tudo, é preciso importar as bibliotecas necessárias para realizar as atividades a seguir:

In [33]:
import pandas as pd
import numpy as np

### Exercícios:

### Atividade - primeira série!

* Criar duas *series* pandas com 4 posições cada, realizar as quatro operações matemáticas básicas e mostrar o resultado;

* Criar uma terceira *serie* pandas com apenas 3 posições, realizar as quatro operações matemáticas básicas com uma das series do exercício anterior e explicar o resultado.

In [61]:
serie1 = pd.Series([5, 10, 15, 20], index = ['a','b','c','d'])
serie2 = pd.Series([1, 2, 3, 4], index = ['a','b','c','d'])

Adição:

In [62]:
serie1 + serie2

a     6
b    12
c    18
d    24
dtype: int64

Subtração:

In [63]:
serie1 - serie2

a     4
b     8
c    12
d    16
dtype: int64

Multiplicação:

In [64]:
serie1 * serie2

a     5
b    20
c    45
d    80
dtype: int64

Divisão:

In [65]:
serie1 / serie2

a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64

Criando Série com 3 posições:

In [78]:
serie3 = pd.Series([i for i in range(3,9 + 1, 3)], index = ['a','b','c'])
serie3

a    3
b    6
c    9
dtype: int64

Adição:

In [79]:
serie3 + serie2

a     4.0
b     8.0
c    12.0
d     NaN
dtype: float64

Subtração:

In [80]:
serie3 - serie2

a    2.0
b    4.0
c    6.0
d    NaN
dtype: float64

Multiplicação:

In [81]:
serie3 * serie2

a     3.0
b    12.0
c    27.0
d     NaN
dtype: float64

Divisão:

In [82]:
serie3 / serie2

a    3.0
b    3.0
c    3.0
d    NaN
dtype: float64

Resultado: A operações são feitas levando em consideração o índice, quando o índice é presente em apenas uma das series, o valor retornado é nele nulo

### Atividade - Fusão

* Crie uma array numpy com os números [10 20 30 40 50 60 70]

* Subtraia 5 de todosos números do array e reatribua no array original 


* Converta o array para uma serie do pandas (Veja o tipo do array antes e depois dessa etapa)

In [119]:
array = np.array([i for i in range(10,70+1, 10)])
array

array([10, 20, 30, 40, 50, 60, 70])

In [120]:
array -= 5
array

array([ 5, 15, 25, 35, 45, 55, 65])

In [115]:
type(array)

numpy.ndarray

In [117]:
array = pd.Series(array)
array

0     5
1    15
2    25
3    35
4    45
5    55
6    65
dtype: int64

In [118]:
type(array)

pandas.core.series.Series

### Atividade - Operando DataFrames!

* Criar um DataFrame com duas linhas e duas colunas de valroes inteiros;

* Depois de criado, atualizar os valores da primeira coluna multiplicando os valores existentes por 2;

* Criar uma nova coluna com todos os valores nulos;

* Excluir a nova coluna criada;

### Atividade - Manipulando DataFrames

* Criar um dataframe que carregue os dados a partir do arquivo disponibilizado no seguinte link: https://people.sc.fsu.edu/~jburkardt/data/csv/nile.csv

* Imprimir as linhas 2 e 4 do DataFrame carregado;

* Imprimir as linhas que tiveram a coluna "Year" inferior a 10;

* Imprimir o valor da coluna "Flood" no quinto ano;

* Imprimir as linhas que tiveram as colunas "Year" e "Flood" inferiores a 10;