# Módulo 4 - Python / Análise exploratória e tratamento de dados (Exercícios - 1)



---

Antes de tudo, é preciso importar as bibliotecas necessárias para realizar as atividades a seguir:

In [160]:
import pandas as pd
import numpy as np

### Exercícios:

### Atividade - primeira série!

* <font size = '4'>Criar duas *series* pandas com 4 posições cada, realizar as quatro operações matemáticas básicas e mostrar o resultado;

In [161]:
serie1 = pd.Series([5, 10, 15, 20], index = ['a','b','c','d'])
serie2 = pd.Series([1, 2, 3, 4], index = ['a','b','c','d'])

> Adição:

In [191]:
serie1 + serie2

a     6
b    12
c    18
d    24
dtype: int64

> Subtração:

In [163]:
serie1 - serie2

a     4
b     8
c    12
d    16
dtype: int64

> Multiplicação:

In [164]:
serie1 * serie2

a     5
b    20
c    45
d    80
dtype: int64

> Divisão:

In [165]:
serie1 / serie2

a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64

* <font size = '4'>Criar uma terceira *serie* pandas com apenas 3 posições, realizar as quatro operações matemáticas básicas com uma das series do exercício anterior e explicar o resultado;

In [166]:
serie3 = pd.Series([i for i in range(3,9 + 1, 3)], index = ['a','b','c'])
serie3

a    3
b    6
c    9
dtype: int64

> Adição:

In [167]:
serie3 + serie2

a     4.0
b     8.0
c    12.0
d     NaN
dtype: float64

> Subtração:

In [168]:
serie3 - serie2

a    2.0
b    4.0
c    6.0
d    NaN
dtype: float64

> Multiplicação:

In [169]:
serie3 * serie2

a     3.0
b    12.0
c    27.0
d     NaN
dtype: float64

> Divisão:

In [170]:
serie3 / serie2

a    3.0
b    3.0
c    3.0
d    NaN
dtype: float64

<font size = '4'>Resultado: As operações são feitas levando em consideração o índice, quando o índice é presente em apenas uma das series, o valor retornado nele é nulo.

### Atividade - Fusão

* <font size = '4'> Crie uma array numpy com os números [10 20 30 40 50 60 70];

In [206]:
teste = np.array([i for i in range(10,70+1, 10)])
teste

array([10, 20, 30, 40, 50, 60, 70])

* <font size = '4'>Subtraia 5 de todos os números do array e reatribua no array original;

In [207]:
teste -= 5
teste

array([ 5, 15, 25, 35, 45, 55, 65])

* <font size = '4'>Converta o array para uma serie do pandas (Veja o tipo do array antes e depois dessa etapa);

In [208]:
type(teste)

numpy.ndarray

In [209]:
teste = pd.Series(teste)
teste

0     5
1    15
2    25
3    35
4    45
5    55
6    65
dtype: int64

In [175]:
type(teste)

pandas.core.series.Series

* <font size = '4'>Faça uma análise dessa serie;

> tamanho:

In [176]:
teste.shape

(7,)

> Valor máximo:

In [177]:
teste.max()

65

> Valor mínimo:

In [178]:
teste.min()

5

> Soma:

In [179]:
teste.sum()

245

> Média:

In [180]:
teste.mean()

35.0

### Atividade - Operando DataFrames!

* <font size = '4'>Criar um DataFrame com duas linhas e duas colunas de valores inteiros;

In [181]:
dados = {'a': [10,20], 'b': [10,20] }

df = pd.DataFrame(dados)
df

    a   b
0  10  10
1  20  20

* <font size = '4'>Depois de criado, atualizar os valores da primeira coluna multiplicando os valores existentes por 2;

In [182]:
df['a'] *= 2
df

    a   b
0  20  10
1  40  20

* <font size = '4'>Criar uma nova coluna com todos os valores nulos;

In [183]:
df['c'] = np.NaN
df

    a   b   c
0  20  10 NaN
1  40  20 NaN

* <font size = '4'>Excluir a nova coluna criada;

In [184]:
df.drop('c', axis = 1, inplace = True)
df

    a   b
0  20  10
1  40  20

### Atividade - Manipulando DataFrames

* <font size = '4'> Criar um dataframe que carregue os dados a partir do arquivo disponibilizado no seguinte link: https://people.sc.fsu.edu/~jburkardt/data/csv/nile.csv

In [210]:
nile_data = 'https://people.sc.fsu.edu/~jburkardt/data/csv/nile.csv'
nile = pd.read_csv(nile_data, sep=',')
nile.head()

   Year   "Flood"
0     1    9.9974
1     2   10.5556
2     3    9.9014
3     4   11.4800
4     5   12.8460

> Renomeando coluna "Flood"

In [186]:
nile.rename(columns = {' "Flood"': 'Flood'}, inplace = True)

* <font size = '4'> Imprimir as linhas 2 e 4 do DataFrame carregado;

In [187]:
nile.loc[[2,4]]

   Year    Flood
2     3   9.9014
4     5  12.8460

* <font size = '4'> Imprimir as linhas que tiveram a coluna "Year" inferior a 10;

In [188]:
nile.loc[nile['Year'] < 10]

   Year    Flood
0     1   9.9974
1     2  10.5556
2     3   9.9014
3     4  11.4800
4     5  12.8460
5     6  11.1330
6     7  10.1126
7     8  10.3060
8     9  10.4980


* <font size = '4'> Imprimir o valor da coluna "Flood" no quinto ano;

In [189]:
nile['Flood'].loc[nile['Year'] == 5]

4    12.846
Name: Flood, dtype: float64


* <font size = '4'> Imprimir as linhas que tiveram as colunas "Year" e "Flood" inferiores a 10;

In [190]:
nile.loc[(nile['Year'] < 10) & (nile['Flood'] < 10)]

   Year   Flood
0     1  9.9974
2     3  9.9014